<div class="row">
  <div class="span4">
    <ul class="unstyled">
		  {{#each controller}}
		  <li>
		  	{{#linkTo 'category' this}} {{ title }} {{/linkTo}}
		  </li>
		  {{/each}}
		</ul>
  </div>
  <div class="span8">
    {{ outlet }}
  </div>
</div>
