<!DOCTYPE html>
<html>
  <head>
    <title>Ember demo</title>
    <%= css :application, media: 'screen' %>
    <%= js  :application %>
  </head>
  <body>
    <h1>Ember blog demo</h1>
    <script type="text/x-handlebars">
      <div id="nav">
        {{#linkTo posts}}Posts{{/linkTo}}
      </div>
      <div id="outlet">
        {{outlet}}
      </div>
    </script>
    <script type="text/x-handlebars" data-template-name="posts">
      <ul id="posts">
        {{#each content}}
          <li>
            <h2>
              {{title}}<small> - {{dateFormat createdAt}}</small>
            </h2>
            <div class="body">{{paragraphed body}}</div>
          </li>
        {{/each}}
      </ul>
    </script>
  </body>
</html>
