<!DOCTYPE html>
<html>
  <head>
    <title>Ember demo</title>
    <%= css :application, media: 'screen' %>
    <%= js  :application %>
  </head>
  <body>
    <h1>Ember blog demo</h1>
    <script type="text/x-handlebars">
      <div id="nav">
        {{#linkTo posts}}Posts{{/linkTo}}
      </div>
      <div id="outlet">
        {{outlet}}
      </div>
    </script>
    <script type="text/x-handlebars" data-template-name="posts">
      <ul id="posts">
        {{#each post in posts}}
          <li>
            <h2>
              {{#linkTo post post}}{{post.title}}{{/linkTo}} <small>- {{dateFormat post.createdAt}}</small>
            </h2>
          </li>
        {{/each}}
      </ul>
    </script>
    <script type="text/x-handlebars" data-template-name="post">
      <div id="post">
        <h2>
          {{post.title}}<small> - {{dateFormat post.createdAt}}</small>
        </h2>
        <div class="body">{{paragraphed post.body}}</div>
      </div>
    </script>
  </body>
</html>
