<!DOCTYPE html>
<html>
  <head>
    <title>Ember demo</title>
    <%= css :application, media: 'screen' %>
    <%= js  :application %>
  </head>
  <body>
  	<script type="text/x-handlebars">
  		hello world !
  	</script>
  </body>
</html>
