<!DOCTYPE html>
<html>
  <head>
    <title>Ember demo</title>
    <%= css :application, media: 'screen' %>
    <%= js  :application %>
  </head>
  <body>
  	<script type="text/x-handlebars">
  		<div class='row'>
  			<div class='twelve columns'>
	  			<h1>Ember Resto</h1>
	  			<div>
	  				{{ outlet }}
	  			</div>
	  		</div>
  		</div>
  	</script>
  	<script type="text/x-handlebars" data-template-name="tables">
  		<h2>Liste des tables</h2>
  		<div class='row'>
			<div id='tables' class='four columns'>
	  			{{ render '_tableList' controller}}
	  		</div>
	  		<div id='order' class='eight columns'>
	  		    {{ outlet }}
	  		</div>
  		</div>
  	</script>
  	<script type="text/x-handlebars" data-template-name="_tableList">
  		{{#each table in controller}}
	  		{{#linkTo "table" table}}
	  			{{table.name}}
	  		{{/linkTo}}
	  		<br/>
	  	{{/each}}
  	</script>
  	<script type="text/x-handlebars" data-template-name="table">
  		<h3>{{name}}</h3>
  	</script>
  </body>
</html>
