<!DOCTYPE html>
<html>
  <head>
    <title>Ember demo</title>
    <%= bootstrap_assets %>
    <%= css :application, media: 'screen' %>
    <%= js  :application %>
  </head>
  <body>
  </body>
</html>
