<!DOCTYPE html>
<html>
  <head>
    <title>Ember demo</title>
    <%= css :application, media: 'screen' %>
    <%= js  :application %>
  </head>
  <body>
  	<script type="text/x-handlebars">
  		{{ outlet }}
  	</script>
  	<script type="text/x-handlebars" data-template-name="tables">
  		Liste des tables (?)
  	</script>
  </body>
</html>
