<ul class="unstyled">
  <li>{{#linkTo 'posts.new'}}+ New Post{{/linkTo}}</li>
  {{#each controller}}
  <li>
    {{#linkTo 'post' this}}{{ title }}{{/linkTo}}
    <small> - {{ dateFormat createdAt }}</small>
  </li>
  {{/each}}
</ul>
