<div id="post">
  <h2>
    {{title}}<small> - {{dateFormat createdAt}}</small>
  </h2>
  <div class="body">{{paragraphed body}}</div>
  {{#linkTo 'posts.edit' content}}Edit{{/linkTo}}
  <button {{action delete}}>Destroy</button>
</div>
